@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: rgb(46, 46, 86);
  padding: 1rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar h2 {
  color:#ffe3a9;
  /* background-color: rgb(0, 0, 0); */
  padding: 2px 10px;
  font-size: 2rem;
}
.Logo a {
  text-decoration: none;
}

.Logo h1 {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: 700;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background-color 0.1s, color 0.1s;
}

nav ul li a:hover {
  background-color: rgb(160, 205, 239);
  border: 2px solid green;
  border-radius: 30px;
  color: rgb(102, 102, 166);

}

nav ul li a:active {
  background-color: #ffffff;
  color: #1e1e2f;
}

nav ul li a {
  transition: all 0.3s ease-in-out;
}
.ham-menu {
  display: none;

}


button .toggle {
  font-size: 2rem;
}



@media (max-width: 900px) {
  .navbar {
    flex-direction: row;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
  }

  nav ul li {
    width: 100%;
  }

  nav ul li a {
    display: block;
    width: 100%;
  }

  .web-menu {
    display: none;
  }

  .ham-menu {
    display: inline;
    text-align: end;
  }
  .mob-menu {
    position: absolute;
    display: flex;
    justify-content:center;
    width: 80px;
    top: 20px;

    right: 5rem;
    background-color: #002e58;
    box-shadow: rgba(142, 124, 124, 0.3) ;
    border-radius: 1rem;
    
    
  }
.web-menu{
    right: 40px;
    background-color: #002e58;
    box-shadow: rgba(142, 124, 124, 0.3) ;
    border-radius: 1rem;    
  }


  .mob-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    & li:first-child {
      margin-top: 1.2rem;
    }

    & li:last-child {
      margin-bottom: 1.2rem;
    }

  }
   .mob-menu ul li {
    color: #1e1e2f;
   }



   .mob-menu ul li {
    color: #1e1e2f;
   }

  }
