.home-container {
    font-family: 'Segoe UI', sans-serif;
  }
  
  .hero {
    background-color: #1e1e2f;
    color: white;
    padding: 5px 5px;
    text-align: center;
    border: 2px solid rgb(206, 206, 196);
    margin: 0 0 5px 0;
  }
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .hero p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto;
  }
  .hero button {
    margin-top: 2rem;
    background-color: white;
    color: #1e1e2f;
    padding: 0.8rem 2rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  .hero button a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #000;
  }
  
  .about {
    padding: 3rem 2rem;
    text-align: center;
  }
  .about h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .about a {
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(118, 118, 213);
  }
  .about p {
    max-width: 800px;
    margin: 10px auto;
    font-size: 1rem;
  }
  
  .books {
    background: #f5f5f5;
    padding: 3rem 2rem;
    text-align: center;
  }
  .books h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .book-grid {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }
  .book-card {
    width: 90vw;
    padding: 1rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  .book-card img {
    width: 100%;
    border-radius: 6px;
  }
  .book-card p {
    margin-top: 1rem;
    font-weight: 500;
  }
  
  .cta {
    padding: 3rem 2rem;
    background: #1e1e2f;
    color: white;
    text-align: center;
  }
  .cta h2 {
    font-size: 2rem;
  }
  .cta button {
    margin-top: 1.5rem;
    background-color: white;
    color: #1e1e2f;
    padding: 0.8rem 2rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
.cta button a {
  text-decoration: none;
  padding:   35px ;
  color: rgb(120, 88, 40);
  font-size: 1.2rem;
}