.logincContainer {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 20px;
}
.logincContainer div a {
    text-decoration: none;
    font-size: 2rem;
    color: rgb(35, 71, 102);
}
.logincContainer div {
    border: 2px solid silver;
    padding: 10px;
    height: 90%;
    width: 40%;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Heading {
    width: 50%;
    text-align: center;
    background-color: rgb(133, 133, 195);
    margin: 10px 25%;
    border-radius: 10px;
}